@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="footer-section">
    <div class="footer-container">
        <div class="footer-nav">
            <div class="footer-logo">
                <img src="/images/white_socials/Logo.svg" alt="">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates!
                    Voluptates laborum nam ratione minus necessitatibus, iure praesentium.
                </p>
            </div>

            <div class="footer-links">
                <h2>Company</h2>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Career</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h2>Help</h2>
                <ul>
                    <li><a href="">Customer Support</a></li>
                    <li><a href="">Delivery Details</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h2>Resources</h2>
                <ul>
                    <li><a href="">Free eBooks</a></li>
                    <li><a href="">Development Tutorial</a></li>
                    <li><a href="">How to - Blog</a></li>
                    <li><a href="">Youtube Playlist</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h2>Link</h2>
                <ul>
                    <li><a href="">Free eBooks</a></li>
                    <li><a href="">Development Tutorial</a></li>
                    <li><a href="">How to - Blog</a></li>
                    <li><a href="">Youtube Playlist</a></li>
                </ul>
            </div>
            <img class="footer-img" src="~/images/background_effects/footer_element.svg" alt="">
        </div>

        <div class="socials-links">
            <p>&copy; @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</section>