@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="newsletter-section">
    <div class="newsletter-container">
        <h1>Get News Updates By Signing Up</h1>
        <div class="input-container">
            <input class="input-field" type="text" placeholder="Enter Your Email">
            <button class="yellow-button">
                Subscribe <img src="/images/shared_img/ArrowUpRightBlack.svg"
                               alt="">
            </button>
        </div>
    </div>
    <img src="/images/background_effects/element-2.svg" alt="">
</section>