@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<header class="bg-color">
    @await Html.PartialAsync("shared/_BreadcrumbSection")
</header>

<main>
    @await Html.PartialAsync("contactPartials/_ContactInfoSection")
    @await Html.PartialAsync("contactPartials/_ContactFormSection")
    @await Html.PartialAsync("contactPartials/_GoogleMapsSection")
</main>