@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="brands-section m-5 ">
    <div class="container">
        @{
        var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
        foreach ( var entry in brandImages)
        {
            <img src="@entry.MediaUrl()" alt="">
        }
        }
    </div>
</section>