@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
}

<div class="feature-box">
    <i class="@(content.Value("serviceFeatureIcon"))"></i>
    <h2>@content.Value("serviceFeatureTitle")</h2>
    <p>@content.Value("serviceFeatureDescription")</p>
</div>
