@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="google-maps-section">
    <iframe
        src="@Model.Value("googleMapsUrl")"
        width="100%" height="620" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>